# Ignore heavy sequencing data and Cell Ranger outputs
**/data/
**/outs/
**/SC_RNA_COUNTER_CS/
**/analysis/
**/*_feature_bc_matrix/
**/*.gz
**/*.bam
**/*.fastq
**/*.tif

# Avoid ignoring all text files globally unless necessary
# **/*.txt*

# System files
*.DS_Store
Thumbs.db

# R local files
.Rhistory
.RData
.Rproj.user/

# Spatial transcriptomics processed data
/2_Spatial_transcriptomics/Processed data/called_spots/
2_Spatial_transcriptomics/Processed data/normalized_gene_count_matrix_point0000.csv
2_Spatial_transcriptomics/Processed data/normalized_gene_count_matrix_point0000.h5ad
2_Spatial_transcriptomics/Processed data/normalized_gene_count_matrix_point0002.csv
2_Spatial_transcriptomics/Processed data/normalized_gene_count_matrix_point0002.h5ad
2_Spatial_transcriptomics/Processed data/Ordered_primary_probes.fasta
2_Spatial_transcriptomics/Processed data/SeqFISH_called_spots_and_data.zip
2_Spatial_transcriptomics/Processed data/seqFISH_CP_202405_model/
2_Spatial_transcriptomics/Processed data/SeqFISH_normalized_gene_count_matrices.zip

# CaMPARI large volumes and generated media
4_CaMPARI/CaMPARI2_odor_maps.zip
4_CaMPARI/KDE_volumes/.imaris_cache/
4_CaMPARI/KDE_volumes/All patterns.ims
*.mp4
*.png
*.svg
*.pdf
*.ims
*.nrrd

# CaMPARI-seq large processed object
5_CaMPARI_Seq_&_HCR_Quantification/CaMPARI_seq_data/CaMPARI2_seq_FS_16042026.rds
